<mat-card style="background-color: aqua;">
  <div fxLayout='row' fxLayoutAlign="spaces-between stretch">
    <div fxFlex="50" >
      <mat-card fxFlex>
        <mat-card-title>
            Produtos estabelecimento
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="productForm" (ngSubmit)="save()" fxLayout="column" fxLayoutAlign="space-between">
            <input type="hidden" formControlName="_id">
            <mat-form-field>
              <input matInput placeholder="Nome do produto" formControlName="name">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Estoque" formControlName="stock" type="number">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Preço" formControlName="price" type="number">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder='estabelecimentos' formControlName="departments" multiple>
                <mat-select-trigger>
                  {{productForm.value.departments ? productForm.value.departments[0]?.name: '' }}
                  <span *ngIf="productForm.value.departments?.length > 1" class="additional-selection">
                    (+ {{productForm.value.departments.length - 1}} {{productForm.value.departments.length === 2 ? 'other': 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let dep of departments" [value]="dep">{{dep.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end end">
                <button mat-button color="primary" fxFlex="10" type="submit">Save</button>
                <button mat-button color="warn" fxFlex="10" type="reset">Cancel</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50" style="padding-left: 20px;">
      <mat-card>
        <ng-container *ngIf="products?.length>0; else empty">
          <mat-list>
            <h3 mat-matSubheader> Produtos / estabelecimento </h3>
            <mat-list-item *ngFor="let pro of products">
              <mat-icon mat-list-icon>folder</mat-icon>
              <h4 mat-line>{{pro.name}}</h4>
              <h4 mat-line>Preço: {{pro.price | currency: "R$ "}} - estoque: {{pro.stock}}</h4>
              <mat-chip-list mat-line>
                <mat-chip *ngFor="let d of pro.departments">{{d.name}}</mat-chip>
              </mat-chip-list>
              <button mat-icon-button color=accent (click)="delete(pro)">
                <mat-icon> delete </mat-icon>
              </button>
              <button mat-icon-button color=primary (click)="edit(pro)">
                <mat-icon> edit </mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </ng-container>
        <ng-template #empty>
          <div><em>Sem Produtos vinculados a estabelecimentos</em></div>
        </ng-template>
      </mat-card>
    </div>
  </div>


